# Parcel
/.parcel-cache
/dist
/node_modules

# Rust
/target

# mothbus
config.toml
config.prod.toml
data.db*
jwt_secret_key.txt

# mothbus: secret-ban-evasion
src/routes/evasion.rs
public/templates/evasion_*

# Me specific scripts
push.sh
