<!DOCTYPE html>
<html>
	<head>
		<title>{{ base.title }} - mothbus</title>

		<link rel="stylesheet" href="../style/index.scss">
	</head>

	<body>
		<header>
			<h1>
				<a href="/">mothbus</a>
				<span class="version">
					{{ mothbus_version }}
				</span>
			</h1>
		</header>

		<main>
			{{> page}}
		</main>

		<hr />

		<footer>
			{{#if base.user}}
				{{ base.user.ckey }} ({{#if base.user.rank }}{{ base.user.rank.name }}{{ else }}Player{{/if}})<br />
				<a href="/logout">logout</a>
			{{else}}
				not logged in
			{{/if}}
		</footer>
	</body>
</html>
